:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 260px;
}

mat-drawer-container{
  height: 100%;
}

.content{
  position: absolute;
  top: 65px;
  z-index: -1;
}